@model Leticia.Models.ProjectModels.HomeModel

@{
    ViewBag.Title = "Leticia Mebel";
}

<div id="wrapper">
    <section>
        <!--content -->
        <div class="dynamicContent">
            <div style="padding-left:40px;padding-top:20px;">

                <h3>@Model.viewInfo["maintext"].ToString()</h3>
                <h3>Die Einrichtungsmesse IMM Cologne vom 19.01 bis 25.01.2015</h3>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/06-09-2015-2.png" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/06-09-2015-2.png" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/06-09-2015-3.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/06-09-2015-3.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/06-09-2015-4.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/06-09-2015-4.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/06.09.2015-5.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/06.09.2015-5.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <h3>M.O.W. 2014 in Bad Salzuflen. Die Messe fürs Möbel-Business</h3>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/armchairAnd2SeaterSofaTeo.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/armchairAnd2SeaterSofaTeo.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/IMG_20140913_103203.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/IMG_20140913_103203.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/RedSofaMonti.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/RedSofaMonti.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>


                <div style="clear:both"></div>
                <h3>Die Einrichtungsmesse IMM Cologne vom 13.-19. Januar 2014</h3>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/1549572_597888390281392_1405248411_n.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/1549572_597888390281392_1405248411_n.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/1622698_597888393614725_1519360595_n.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/1622698_597888393614725_1519360595_n.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/1660901_597888396948058_1932913969_n.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/1660901_597888396948058_1932913969_n.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/1800434_597888580281373_638314329_n.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/1800434_597888580281373_638314329_n.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>                

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/References/big/1780812_597888533614711_467356859_n.jpg" rel="prettyPhoto[pp_gal1]" title="">
                            <img src="~/Images/ProjectImages/References/normal/1780812_597888533614711_467356859_n.jpg" />
                            <span></span>
                        </a>
                    </div>
                </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/Copy102_1.jpg" rel="prettyPhoto[pp_gal1]" title="">
                                <img src="~/Images/ProjectImages/References/normal/Copy102_1.jpg" />
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/150284_154395017938481_7996176_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/150284_154395017938481_7996176_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/190099_181509275227055_3076840_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/190099_181509275227055_3076840_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/2010-ADAMEVA2.png" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/2010-ADAMEVA2.png">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/260469_206184416092874_7895467_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/260469_206184416092874_7895467_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/264434_206184329426216_6997881_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/264434_206184329426216_6997881_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/265179_206184439426205_700294_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/265179_206184439426205_700294_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/294474_263695607008421_396084139_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/294474_263695607008421_396084139_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/312476_437489926329170_231633890_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/312476_437489926329170_231633890_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/31577_489181231126523_989802329_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/31577_489181231126523_989802329_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/377202_280372125340769_1295665003_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/377202_280372125340769_1295665003_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/380631_346723878736346_2094597375_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/380631_346723878736346_2094597375_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/417871_566510123393633_1785820679_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/417871_566510123393633_1785820679_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/485796_285761744832560_645123305_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/485796_285761744832560_645123305_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/525338_566509843393661_1487582459_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/525338_566509843393661_1487582459_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/525372_552821208095858_380866788_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/525372_552821208095858_380866788_n.jpg" />
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/531848_509916012418275_1022186771_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/531848_509916012418275_1022186771_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/536778_385745461470101_1004867211_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/536778_385745461470101_1004867211_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/547422_552821604762485_971771037_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/547422_552821604762485_971771037_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/555320_437489862995843_1939397825_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/555320_437489862995843_1939397825_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/577188_385745831470064_399202177_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/577188_385745831470064_399202177_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/6550_483870881662064_742651133_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/6550_483870881662064_742651133_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/76705_154395057938477_3736785_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/76705_154395057938477_3736785_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/76954_154394994605150_3914509_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/76954_154394994605150_3914509_n.jpg" />
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/923117_566510010060311_2084341985_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/923117_566510010060311_2084341985_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/923445_566510106726968_494321186_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/923445_566510106726968_494321186_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/934110_566519150059397_660185068_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/934110_566519150059397_660185068_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/972367_566509820060330_1433492670_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/972367_566509820060330_1433492670_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/995_485399234838056_1474692637_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/995_485399234838056_1474692637_n.jpg">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="gal1">
                        <div class="photo1">
                            <a href="~/Images/ProjectImages/References/big/998776_515691388507404_1173754952_n.jpg" rel="prettyPhoto[pp_gal1]">
                                <img src="~/Images/ProjectImages/References/normal/998776_515691388507404_1173754952_n.jpg" />
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="clear"></div>
</div>
        </div>
    </section>
</div>

<script>
    $("a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'dark', social_tools: false, allow_resize: true, default_width: 500, default_height: 344 });

    $('.photo1').find('span').css({ opacity: 0, marginTop: -139 });
    $('.photo1 > a').hover(function () {
        $(this).find('span').css({ opacity: 0, marginTop: -139 }).stop().animate({ opacity: 1, marginTop: 0 }, 400);
    }, function () {
        $(this).find('span').stop().animate({ opacity: 0, marginTop: 139 }, 400);
    });
</script>