
.slider {
	position: relative;left: 0px;top: 0px; z-index:1;
	display: block;
	width:100%;
	height:100%;
	overflow:visible!important;
}

.slider > .pic, .slider > .pic > .mask, .slider > .pic > .mask > div{}

.items {
    display: none;
}



.pagination { height: 9px;
    position: absolute;
    right: 15px;
	bottom: -20px;    
    z-index: 1000; text-align: left; white-space: nowrap;
    overflow:hidden;
}
.pagination li {
    margin-left: 6px; display: inline-block;
	
}
.pagination a {  
    height:9px;  
    display: block;    
    width: 9px;
	height: 9px;
	background: url(../Images/ProjectImages/pagination.png) left top no-repeat;
}

.pagination a:hover, .pagination .current a {
    background-position:right;
}

.banner {width: 280px; height: 540px; position: absolute;left: 680px; top: 0; z-index: 10;}

.banner .banner_inner{ position:absolute; width:240px; left:40px; top:40px; z-index:99; text-align:left;}

.banner .txt1{ font-size:50px; color:#fff; line-height:41px; font-family: 'BebasNeueRegular';}
.banner .txt2{ font-size:30px; color:#ff0000; line-height:30px; font-family: 'moanhandregular'; padding-top: 30px;}




